@model PassionProject_N01338717.Models.Renter
@{
    ViewBag.Title = "Show";
}

<h2>Renter detail</h2>
<div>
    <label>First name:</label>
    <label>@Model.RenterFname</label>
</div>
<div>
    <label>Last name:</label>
    <label>@Model.RenterLname</label>
</div>
<div>
    <label>Email address:</label>
    <label>@Model.RenterEmail</label>
</div>
<div>
    <label>Address:</label>
    <label>@Model.RenterAddress</label>
</div>
<div>
    <label>Date of birth:</label>
    <label>@Model.RenterDOB</label>
</div>