@model PassionProject_N01338717.Models.Renter
@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>
<form method="post" action="">
    <div class="col-md-3">
        <div>
            <label>First name:</label>
        </div>
        <div>
            <label>Last name:</label>
        </div>
        <div>
            <label>Email address</label>
        </div>
        <div>
            <label>Address</label>
        </div>
        <div>
            <label>Date of birth</label>
        </div>
        <div>
            <label>Username</label>
        </div>
        <div>
            <label>Password</label>
        </div>
    </div>
    <div class="col-md-8">
        <div>
            <input type="text" name="renterfirstname" value="@Model.RenterFname" />
        </div>
        <div>
            <input type="text" name="renterlastname" value="@Model.RenterLname" />
        </div>
        <div>
            <input type="text" name="renteremail" value="@Model.RenterEmail"/>
        </div>
        <div>
            <input type="text" name="renteraddress" value="@Model.RenterAddress" />
        </div>
        <div>
            <input type="text" name="renterdob" value="@Model.RenterDOB" />
        </div>
        <div>
            <input type="text" name="renterusername" value=@Model.RenterUsername />
        </div>
        <div>
            <input type="text" name="renterpassword" value=@Model.RenterPassword />
        </div>
        <div>
            <input type="submit" name="update" />
        </div>
</form>

